@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Source+Serif+4:wght@400;600&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Source+Serif+4:wght@400;600&family=Source+Serif+Pro&display=swap');


.product {
    margin: 0;
    overflow: auto;
    font-family: 'Libre Baskerville', serif;
}

.product__price {
    display: inline-block;
    line-height: 34px;
    font-family: 'Libre Baskerville', serif;
}

.product__button-wrap {
    float: right;
    font-family: 'Libre Baskerville', serif;
}
